.urlShortBanner{
    background-size: cover;
    display:flex;
    width: 100%;
}


.urlShortContain{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #F0FFF0;
    flex-direction: column;
    border-radius: 1vw;
    width: 40vw;
}

.urlShortRow{
    text-align: center;
    margin-bottom: 1vh;
}

.urlShortTextbox{
    width: 20vw;
}

.urlp{
    padding: 2vh;
    background-color: #F5F5DC;
}

.urlShortResult{
    margin-top: 2vh;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 1vw;
    background-color: #F0FFF0;
    width: 40vw;
}

.urlShortResRow {
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 100%;
    word-wrap: break-word;
}

.urlShortResCol {
    background-color: #F5F5DC;
    text-align: center;
}

.urlShortAlert {
    justify-content: center;
    margin-bottom: -0.3vh;
}

a:hover.urlShortHover{
    background-color: #0BDA51;
    padding: 0.6vh;
    border-radius: 0.5vw;
    text-decoration: none;
}

a:link,a:visited.urlShortLink{
    color: #0014A8;
    text-decoration: none;
}